body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;

  --mdc-elevated-card-container-elevation: none;
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: #3fb34c;
}
