<mat-card>
  <mat-card-title>Загрузка файлов для моделирования GRAL</mat-card-title>
  <div
    class="dropzone"
    [class.dropzone-over]="isDragOver"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
  >
    <input
      type="file"
      multiple
      (change)="onFileChange($event)"
      [accept]="acceptString"
      style="display: none"
      #fileInput
    />
    <button
      *ngIf="files.length === 0"
      mat-raised-button
      color="primary"
      (click)="fileInput.click()"
    >
      Выбрать файлы
    </button>
    <button
      *ngIf="files.length > 0"
      mat-raised-button
      color="warn"
      (click)="clearFiles()"
    >
      Открепить файлы
    </button>
    <div>или перетащите файлы сюда</div>
    <div class="file-list">
      <div *ngFor="let file of files">{{ file.name }}</div>
    </div>
    <div *ngIf="error" style="color: red; margin-top: 8px">{{ error }}</div>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="onSendFiles()"
    [disabled]="files.length === 0"
    style="margin-top: 16px"
  >
    Отправить файлы
  </button>
  <button
    mat-raised-button
    [color]="isModeling ? 'warn' : 'accent'"
    (click)="onModeling()"
    [disabled]="!!error || files.length === 0"
    style="margin-top: 16px"
  >
    {{ isModeling ? "Остановить моделирование" : "Запустить моделирование" }}
  </button>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab *ngFor="let file of requiredFiles" [label]="file">
        <div class="tab-content">
          <ng-container *ngIf="file === 'point.dat'">
            <form [formGroup]="pointDatForm" (ngSubmit)="onPointDatSubmit()">
              <div class="form-grid">
                <mat-form-field>
                  <mat-label>X</mat-label>
                  <input matInput type="number" formControlName="x" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Y</mat-label>
                  <input matInput type="number" formControlName="y" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Z</mat-label>
                  <input matInput type="number" formControlName="z" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>H2S [kg/h]</mat-label>
                  <input matInput type="number" formControlName="h2s" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Exit vel. [m/s]</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="exitVelocity"
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Diameter [m]</mat-label>
                  <input matInput type="number" formControlName="diameter" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Temp. [K]</mat-label>
                  <input matInput type="number" formControlName="temperature" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Source group</mat-label>
                  <mat-select formControlName="sourceGroup">
                    <mat-option
                      *ngFor="let group of sourceGroups"
                      [value]="group"
                    >
                      {{ group }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>F2.5</mat-label>
                  <input matInput type="number" formControlName="f25" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>F10</mat-label>
                  <input matInput type="number" formControlName="f10" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>DiaMax</mat-label>
                  <input matInput type="number" formControlName="diaMax" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Density</mat-label>
                  <input matInput type="number" formControlName="density" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>VDep2.5</mat-label>
                  <input matInput type="number" formControlName="vDep25" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>VDep10</mat-label>
                  <input matInput type="number" formControlName="vDep10" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>VDepMax</mat-label>
                  <input matInput type="number" formControlName="vDepMax" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Dep_Conc</mat-label>
                  <input matInput type="number" formControlName="depConc" />
                </mat-form-field>
              </div>

              <button
                mat-raised-button
                color="primary"
                type="submit"
                style="margin-top: 16px"
              >
                Сохранить
              </button>
            </form>
          </ng-container>
          <ng-container *ngIf="file === 'mettimeseries.dat'">
            <form
              [formGroup]="mettseriesForm"
              (ngSubmit)="onMettseriesSubmit()"
            >
              <div class="records-container">
                <div class="records-header">
                  <div class="header-cell">Дата</div>
                  <div class="header-cell">Час</div>
                  <div class="header-cell">Скорость [m/s]</div>
                  <div class="header-cell">Направление [deg]</div>
                  <div class="header-cell">SC</div>
                  <div class="header-cell">Действия</div>
                </div>

                <div class="records-content">
                  <div formArrayName="records">
                    <div
                      *ngFor="let record of records.controls; let i = index"
                      [formGroupName]="i"
                      class="record-row"
                    >
                      <mat-form-field>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="date"
                          placeholder="DD/MM/YYYY"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field>
                        <input
                          matInput
                          type="number"
                          formControlName="hour"
                          min="0"
                          max="23"
                        />
                      </mat-form-field>

                      <mat-form-field>
                        <input
                          matInput
                          type="number"
                          formControlName="velocity"
                        />
                      </mat-form-field>

                      <mat-form-field>
                        <input
                          matInput
                          type="number"
                          formControlName="direction"
                          min="0"
                          max="360"
                        />
                      </mat-form-field>

                      <mat-form-field>
                        <input matInput type="number" formControlName="sc" />
                      </mat-form-field>

                      <button
                        mat-icon-button
                        color="warn"
                        type="button"
                        (click)="removeRecord(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button
                  mat-raised-button
                  color="accent"
                  type="button"
                  (click)="addRecord()"
                >
                  Добавить запись
                </button>
                <button mat-raised-button color="primary" type="submit">
                  Сохранить
                </button>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="file === 'GRAL.geb'">
            <form [formGroup]="gralGebForm" (ngSubmit)="onGralGebSubmit()">
              <div class="form-grid">
                <mat-form-field>
                  <mat-label>
                    Размер ячейки по X [m]
                    <mat-icon
                      matTooltip="Размер ячейки для декартового поля ветра в GRAL по X"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="cellSizeX" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Размер ячейки по Y [m]
                    <mat-icon
                      matTooltip="Размер ячейки для декартового поля ветра в GRAL по Y"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="cellSizeY" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Размер ячейки по Z [m]
                    <mat-icon
                      matTooltip="Размер ячейки для декартового поля ветра в GRAL по Z"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="cellSizeZ" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Коэффициент растяжения Z
                    <mat-icon
                      matTooltip="Коэффициент растяжения для увеличения высоты ячеек"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="cellSizeZStretch"
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Количество ячеек по X
                    <mat-icon
                      matTooltip="Количество ячеек для сетки подсчета в GRAL по X"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="cellsCountX" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Количество ячеек по Y
                    <mat-icon
                      matTooltip="Количество ячеек для сетки подсчета в GRAL по Y"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="cellsCountY" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Количество горизонтальных срезов
                    <mat-icon
                      matTooltip="Количество горизонтальных срезов"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="horizontalSlices"
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Группы источников
                    <mat-icon
                      matTooltip="Группы источников для отдельного расчета, разделенные запятыми"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput formControlName="sourceGroups" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Западная граница [m]
                    <mat-icon
                      matTooltip="Западная граница области модели GRAL"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="westBorder" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Восточная граница [m]
                    <mat-icon
                      matTooltip="Восточная граница области модели GRAL"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="eastBorder" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Южная граница [m]
                    <mat-icon
                      matTooltip="Южная граница области модели GRAL"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="southBorder" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>
                    Северная граница [m]
                    <mat-icon
                      matTooltip="Северная граница области модели GRAL"
                      class="help-icon"
                      >help_outline</mat-icon
                    >
                  </mat-label>
                  <input matInput type="number" formControlName="northBorder" />
                </mat-form-field>
              </div>

              <button mat-raised-button color="primary" type="submit">
                Сохранить
              </button>
            </form>
          </ng-container>
          <p
            *ngIf="
              file !== 'point.dat' &&
              file !== 'mettimeseries.dat' &&
              file !== 'GRAL.geb'
            "
          >
            Содержимое файла {{ file }}
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
